<% provide(:title, @restaurant.name) %>
<h1><%= @restaurant.name %></h1>

<p><strong>Description:</strong> <%= @restaurant.description %></p>

<p><strong>Category:</strong> <%= @restaurant.category.name %></p>

<p><strong>Address:</strong> <%= @restaurant.address_1 %> <%= @restaurant.address_2 %>,
                             <%= @restaurant.city %>, <%= @restaurant.county %></p>

<p><strong>Phone:</strong> <%= @restaurant.phone %></p>

<p><strong>Email:</strong> <%= @restaurant.email %></p>

<h2>Reviews (<%= @restaurant.reviews.count %>)</h2>

<% @reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>

<%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
