<% provide(:title, @restaurant.name) %>
<div>
  <h1><%= @restaurant.name %>
    <span class="star-rating" data-score=<%= @avg_rating %> ></span>
    <% if current_user.try(:admin?) %>
     <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
     <%= link_to "Delete Restaurant", @restaurant, method: :delete, data: { confirm: "You sure?" },
                                                   class: 'btn btn-danger' %>
    <% end %>
  </h1>

  <p><strong>Description:</strong> <%= @restaurant.description %></p>

  <p><strong>Category:</strong> <%= @restaurant.category.name %></p>

  <p><strong>Address:</strong> <%= [@restaurant.address_1, @restaurant.address_2, @restaurant.city,
                                    @restaurant.county].reject(&:blank?).join(", ") %></p>

  <p><strong>Phone:</strong> <%= @restaurant.phone %></p>

  <p><strong>Email:</strong> <%= @restaurant.email %></p>
</div>
<div>
  <h2>Reviews (<%= @restaurant.reviews.count %>)
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></h2>
  <div class="reviews">
    <% @paginated_reviews.each do |review| %>
      <li>
        <span class="star-rating" data-score=<%= review.rating %> ></span>
        <p> <%= review.content %> </p>
        <span class="timestamp">
          Posted on <%= review.created_at.strftime("%d/%m/%Y") %>
          by <%= link_to review.user.name, review.user %>
        </span>
      </li>
    <% end %>
    <%= will_paginate @paginated_reviews %>
  </div>
</div>
